<div class="container"  style = "text-align:center;">


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav" style="font-size:24px;">
    <li class="nav-item active" style="padding-right:10px;">
     <div><a routerLink="/">Home</a></div>
    <li class="nav-item" style="padding-right:10px;">
      <div><a routerLink="biography">Biography</a></div>
    </li>
    <li class="nav-item" style="padding-right:10px;">
      <div><a routerLink="resume">Resume</a></div>
    </li>
    <li class="nav-item" style="padding-right:10px;">
      <div><a routerLink="social-media">Social Media</a></div>
    </li>
    <li class="nav-item" style="padding-right:10px;">
      <div><a routerLink="redux-quiz">Redux Quiz</a></div>
    </li>
        <li class="nav-item" style="padding-right:10px;">
      <div><a routerLink="canvasclock">Canvasclock</a></div>
    </li>
  </ul>
</nav>
</div>


<router-outlet></router-outlet>