<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h3>Websites</h3>
      <p>Visit some of my favorite websites on the web.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="https://www.nba.com/">NBA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.fortnite.com/">Fortnite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.subaru.com/content/subaru/en/motorsports/cars/rallycross.html.com/">Subaru Rally Cross</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.github.com/">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.stackblitz.com/">StackBlitz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/">YouTube</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Get to know Sartaj:</h2>
      <p  style="font-size:20px;">Hello, my name is Sartaj Singh. I love to program and develop solutions to everyday problems. For my freetime, I like to play a lot of sports, Fortnite, and work on my car. I am currently a YearUp Puget Sound student at Seattle Central College. I am taking the Software Development and Testing track. I plan on growing in my growth areas as well as gain the knowledge to get my foot into the tech-industry.</p>
      <br>
      
    </div>
  </div>
</div>